@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #d8d8cf;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  border-bottom: #81817c;
  z-index: 99999999999;
  position: fixed;
}
nav .logo {
  color: #464646;
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: rgb(83, 83, 83);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}


/* Banner */
.banner{
  padding-top: 70px;
  padding-bottom: 20px;
}
.swiper-container {
  height: 380px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1000px;
  height: 310px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 6px #ccc;
}

.status{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: max-content;
  padding: 15px;
}

.status > span{
  font-size: 14px;
  text-transform: uppercase;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.status > a{
  display: block;
  width: max-content;
  height: max-content;
}

.status > a:nth-child(2){
  font-size: 20px;
  width: 100%;
  height: 100px;
  overflow-y: hidden;
  color: #111;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.status > a:nth-child(3){
  font-size: 12px;
  margin-top: 80px;
  letter-spacing: 1.5px;
  color: #777;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.status > a:nth-child(3)::after{
  content: "..";
}
.status > a:nth-child(3):hover{
  text-decoration: underline;
}

.status > div{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.status > div > a{
  display: block;
  width: max-content;
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
}

.status > div > a:nth-child(1){
  background-color: #1877F2;
  color: #fff;
  font-size: 18px;
}
.status > div > a:nth-child(2){
  background-color: #25D366;
  color: #fff;
  font-size: 20px;
  padding: 2px;
}
.status > div > a:nth-child(3){
  background-color: #B2B2B2;
  color: #777;
  font-size: 18px;
}

.swiper-slide a {
  display: block;
  width: 70%;
  height: 100%;
}
.swiper-slide a img{
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #757575 !important;
  opacity: 0.5;
}


@media (max-width: 1020px) {
  .swiper-container {
    height: 50%;
    padding: 30px;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 6px #ccc;
  }

  .status{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 12px;
  }
  
  .status > span{
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
  }

  .status > a{
    display: block;
    width: max-content;
    height: max-content;
  }

  .status > a:nth-child(2){
    font-size: 18px;
    width: 100%;
    height: 45px;
    overflow-y: hidden;
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  .status > a:nth-child(3){
    display: none;
  }

  .status > div{
    display: none;
  }

  .swiper-slide a {
    display: block;
    width: 100%;
    height: 75%;
  }
  .swiper-slide a img{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
}
@media (max-width: 425px) {
  .swiper-container {
    height: 50%;
    padding: 30px 10px;
    padding-top: 20px;
  }
}

/* Video Background */
.paralax{
  background-image: url("/assets/img/img-3.gif");
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}