@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #565652;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #d8d8cf;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  border-bottom: #81817c;
  z-index: 99999999999;
  position: fixed;
}
nav .logo {
  color: #464646;
  font-size: 20px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: rgb(83, 83, 83);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

/* Banner */
.banner{
  padding-top: 70px;
  padding-bottom: 20px;
}
.swiper-container {
  height: 380px;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1000px;
  height: 310px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 6px #ccc;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  height: max-content;
  padding: 15px;
}

.status > span {
  font-size: 14px;
  text-transform: uppercase;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.status > a {
  display: block;
  width: max-content;
  height: max-content;
}

.status > a:nth-child(2) {
  font-size: 20px;
  width: 100%;
  height: 100px;
  overflow-y: hidden;
  color: #111;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.status > a:nth-child(3) {
  font-size: 12px;
  margin-top: 80px;
  letter-spacing: 1.5px;
  color: #777;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.status > a:nth-child(3)::after {
  content: "..";
}
.status > a:nth-child(3):hover {
  text-decoration: underline;
}

.status > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.status > div > a {
  display: block;
  width: max-content;
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 50%;
  text-align: center;
}

.status > div > a:nth-child(1) {
  background-color: #1877f2;
  color: #fff;
  font-size: 18px;
}
.status > div > a:nth-child(2) {
  background-color: #25d366;
  color: #fff;
  font-size: 20px;
  padding: 2px;
}
.status > div > a:nth-child(3) {
  background-color: #b2b2b2;
  color: #777;
  font-size: 18px;
}

.swiper-slide a {
  display: block;
  width: 70%;
  height: 100%;
}
.swiper-slide a img {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background-color: #757575 !important;
  opacity: 0.5;
}

@media (max-width: 1020px) {
  .swiper-container {
    height: 50%;
    padding: 30px;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 6px #ccc;
  }

  .status {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    padding: 12px;
  }

  .status > span {
    font-size: 12px;
    text-transform: uppercase;
    color: #777;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }

  .status > a {
    display: block;
    width: max-content;
    height: max-content;
  }

  .status > a:nth-child(2) {
    font-size: 18px;
    width: 100%;
    height: 45px;
    overflow-y: hidden;
    color: #111;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  .status > a:nth-child(3) {
    display: none;
  }

  .status > div {
    display: none;
  }

  .swiper-slide a {
    display: block;
    width: 100%;
    height: 75%;
  }
  .swiper-slide a img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
  }
}
@media (max-width: 425px) {
  .swiper-container {
    height: 50%;
    padding: 30px 10px;
    padding-top: 20px;
  }
}


/* Mid Content */
.css-slider-wrapper {
  display: block;
  background: #fff;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* Slider */
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Slides Background Color */
.slide-1 {
  background: #fbad99;
  left: 0;
}
.slide-2 {
  background: #a9785c;
  left: 100%;
}
.slide-3 {
  background: #9ea6b3;
  left: 200%;
}
.slide-4 {
  background: #b1a494;
  left: 300%;
}
.slider {
  display: flex;
  justify-content: flex-start;
}
.slider-content {
  width: 635px;
  padding-left: 100px;
}
/* Slider Inner Slide Effect */
.slider h2 {
  color: #333333;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 60px;
  font-weight: 300;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
  margin-top: 0;
  letter-spacing: 2px;
}

.slider h4 {
  font-size: 22px;
  font-family: "Oswald";
  color: rgba(51, 51, 51, 0.349);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider > img {
  position: absolute;
  right: 10%;
  bottom: 0;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slide-1 > img {
  right: 0;
}

.buy-now-btn {
  background-color: #ea2e49;
  width: 220px;
  height: 50px;
  border-radius: 30px;
  border: none;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  text-align: left;
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

.buy-now-btn:hover {
  box-shadow: 0px 0px 60px -17px rgba(51, 51, 51, 1);
}

.buy-now-btn:after {
  content: "Buy Now";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 35px;
  top: 18px;
}

.slider .buy-now-btn:focus,
.navigation .login-btn:focus {
  outline: none;
}
/* Animations */
.slider h2 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}
.slider h4 {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.4s; /* Safari */
  transition-delay: 1.4s;
}
.slider > img {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1.2s; /* Safari */
  transition-delay: 1.2s;
}
/* Number Pagination */
.number-pagination {
  position: absolute;
  bottom: 30px;
  right: 100px;
  font-family: "Oswald";
  font-weight: bold;
}

.number-pagination span {
  font-size: 30px;
  color: #ea2e49;
  letter-spacing: 4px;
}

.number-pagination span:after {
  content: "/4";
  font-size: 16px;
  color: #fff;
}
/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 30px;
  width: 575px;
  left: 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
.slider-pagination label {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  margin: 0 10px;
  cursor: pointer;
}
/* Slider Pagger Event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {
  width: 14px;
  height: 14px;
  border: 2px solid #ea2e49;
  background: transparent;
}

/* Slider Slide Effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide-1 h2,
.slide-radio2:checked ~ .slide-2 h2,
.slide-radio3:checked ~ .slide-3 h2,
.slide-radio4:checked ~ .slide-4 h2,
.slide-radio1:checked ~ .slide-1 h4,
.slide-radio2:checked ~ .slide-2 h4,
.slide-radio3:checked ~ .slide-3 h4,
.slide-radio4:checked ~ .slide-4 h4,
.slide-radio1:checked ~ .slide-1 > img,
.slide-radio2:checked ~ .slide-2 > img,
.slide-radio3:checked ~ .slide-3 > img,
.slide-radio4:checked ~ .slide-4 > img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* Responsive */
@media only screen and (max-width: 768px) {
  .slider h2 {
    font-size: 20px;
  }
  .slider h4 {
    font-size: 16px;
  }

  .slider-content {
    padding: 0 2%;
  }

  .navigation {
    padding: 0 2%;
  }

  .navigation-left {
    display: none;
  }

  .number-pagination {
    right: 2%;
  }
  .slider-pagination {
    left: 2%;
  }

  .slider .buy-now-btn {
    padding: 0 15px;
    width: 175px;
    height: 42px;
  }

  .slider .buy-now-btn:after {
    top: 15px;
  }

  .slider > img {
    right: 2%;
  }

  .slide-1 > img {
    right: -110px;
  }
}

.container-mid {
  position: relative;
  width: 100%;
  height: 100vh;
}

